* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;

    --details-color: #00aa88;
    --content-background-color: #eaeaea;
    --background-color: #f2f2f2;
    --notification-bar-background: #8edafc;
    --secondary-color: #00000080;
    --border-color: #00000040;

    --sm-spacing-size: .75rem;
    --md-spacing-size: 1rem;
    --lg-spacing-size: 1.25rem;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

menu , ol {
    list-style: none;
}

input {
    appearance: none;
    outline: none;
    border: none;
}


/* Page wrapper */
.page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-bar {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var(--details-color);
}

/* Content */
.content {
    width: calc(100% - 40px);
    max-width: 1600px;
    height: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 30px var(--secondary-color);
    display: flex;
    background-color: var(--content-background-color);
}

/* Left contact bar */
.contacts-bar {
    flex-basis: calc(100% / 3);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-right: solid 1px var(--border-color);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sm-spacing-size);
}

.profile {
    display: flex;
    align-items: center;
    gap: var(--md-spacing-size);
}

.circle {
    border-radius: 50%;
    width: 3.25rem;
    height: 3.25rem;
    overflow: hidden;
}

.circle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-container {
    overflow: hidden;
}

.text-container > *:first-child {
    display: block;
}

.text-container > *:nth-child(2) {
    color: var(--secondary-color);
}

/* Notification row */
.notification-row {
    justify-content: flex-start;
    gap: var(--sm-spacing-size);
    background-color: var(--notification-bar-background);
    padding: var(--md-spacing-size) var(--lg-spacing-size);
}

.notification-row > .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: var(--notification-bar-background);
    background-color: #ffffff;
}

.icons-container {
    display: flex;
    gap: var(--md-spacing-size);
    color: var(--secondary-color);
}

.contacts-related {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Search bar */
.search-bar {
    display: flex;
    width: 100%;
    color: var(--secondary-color);
}

.search-bar > * {
    display: block;
    padding: .25rem var(--sm-spacing-size);
    background-color: #ffffff;
    border: solid 1px var(--border-color);
}

.search-bar > span {
    border-right: none;
}

#contacts-search {
    flex-grow: 1;
}

/* Contacts list */
.contacts-container {
    overflow-y: auto;
    flex: 1 0 0;
    border-top: solid 1px var(--border-color);
    background-color: #ffffff;
}

.contact {
    padding: var(--sm-spacing-size) var(--lg-spacing-size);
    border-bottom: solid 1px var(--border-color);
}

.contact:hover {
    background-color: #00000010;
}

.contact.selected {
    background-color: #00000020;
}

.contact .circle {
    width: 4rem;
    height: 4rem;
}

.contact .user-name {
    font-size: 1.125rem;
}

.last-message {
    font-size: .75rem;
}

.last-message-time {
    align-self: flex-start;
    font-size: .75rem;
    color: var(--secondary-color);
}


/* Right chat side */
.chat-side {
    flex-basis: calc(200% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Top row with profile details of the user courrently chatting with */
.user-status {
    font-size: .675rem;
    height: 100%;
}

/* Chat container */
.chat-container {
    overflow-y: auto;
    flex: 1 0 0;
    background: center / cover no-repeat url("../img/background/chat-background.jpg");
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10rem);
    margin: 0 4rem;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    border-radius: 6px;
    background-color: #ffffff;
    padding: .5rem 1.125rem 1.125rem .5rem;
    position: relative;
    width: max-content;
    max-width: 60%;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

.message.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.time-of-message {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: .675rem;
    color: var(--secondary-color);
}

/* Bottom row with chat options */
.chat-menu {
    padding: var(--sm-spacing-size) 2.25rem;
    gap: 2.25rem;
    background-color: #f3eeea;
}

.chat-option {
    font-size: 1.675rem;
    color: var(--secondary-color);
}

.send-message {
    flex: 1 0 0;
}

#message-input {
    padding: var(--lg-spacing-size) var(--md-spacing-size);
    width: 100%;
    border-radius: 6px;
}