<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
</head>
<body>
    <!-- Page wrapper -->
    <div id="app" class="page-wrapper">
        <div class="background-bar"></div>

        <!-- Content -->
        <div class="content">
            <!-- Left contact bar -->
            <div class="contacts-bar">
                <!-- Top row with profile details of the user logged in -->
                <div class="row">
                    <div class="profile">
                        <div class="circle">
                            <img src="img/placeholder.png" alt="PLACEHOLDER">
                        </div>
                        
                        <div class="text-container">
                            <span class="user-name">
                                PLACEHOLDER
                            </span>
                        </div>
                    </div>

                    <div class="icons-container">
                        <span class="icon">
                            <i class="fa-solid fa-circle-notch"></i>
                        </span>
                        <span class="icon">
                            <i class="fa-solid fa-message"></i>
                        </span>
                        <span class="icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </div>
                </div>

                <!-- Notification row -->
                <div class="notification-row row">
                    <div class="circle">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div class="text-container">
                        <span>
                            Ricevi notifiche di nuovi messaggi
                        </span>
                        <a href="#">
                            Attiva notifiche desktop
                        </a>
                    </div>
                </div>

                <!-- Contacts related container -->
                <div class="contacts-related">
                    <!-- Search bar for contacts -->
                    <div class="row">
                        <nav class="search-bar">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" id="contacts-search" placeholder="Cerca o inizia una nuova conversazione">
                        </nav>
                    </div>

                    <!-- Contacts list -->
                    <ul class="contacts-container">
                        <li class="contact row" :class="{selected: index === selectedContactIndex}" v-for="(contact , index) in contacts" :key="index" @click="selectedContactIndex = index">
                            <div class="profile">
                                <div class="circle">
                                    <img :src="contact.avatar" :alt="contact.name">
                                </div>
                                <div class="text-container">
                                    <span class="user-name">
                                        {{contact.name}}
                                    </span>
                                    <span class="last-message">
                                        {{contact.messages[contact.messages.length - 1].message}}
                                    </span>
                                </div>
                            </div>

                            <span class="last-message-time">
                                {{getMessageTime(index , contact.messages.length - 1)}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Right chat side -->
            <div class="chat-side">
                <template v-if="selectedContactIndex !== null">
                    <!-- Top row with profile details of the user courrently chatting with -->
                    <div class="row">
                        <div class="profile">
                            <div class="circle">
                                <img src="img/placeholder.png" alt="PLACEHOLDER">
                            </div>
                            
                            <div class="text-container">
                                <span class="user-name">
                                    {{contacts[selectedContactIndex].name}}
                                </span>
                                <span class="user-status">
                                    PLACEHOLDER AT 00:00
                                </span>
                            </div>
                        </div>
    
                        <div class="icons-container">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span class="icon">
                                <i class="fa-solid fa-paperclip"></i>
                            </span>
                            <span class="icon">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </div>
                    </div>
    
                    <!-- Chat container -->
                    <div class="chat-container">
                        <ol class="chat">
                            <li class="message" :class="{sent: message.status === 'sent'}" v-for="(message , messageIndex) in contacts[selectedContactIndex].messages.slice().reverse()" :key="messageIndex">
                                <span class="text-of-message">{{message.message}}</span>
                                <span class="time-of-message">{{getMessageTime(selectedContactIndex , contacts[selectedContactIndex].messages.length - 1 - messageIndex)}}</span>
                            </li>
                        </ol>
                    </div>
    
                    <!-- Bottom row with chat options -->
                    <menu class="chat-menu row">
                        <li class="chat-option">
                            <a href="#">
                                <i class="fa-regular fa-face-smile"></i>
                            </a>
                        </li>
                        
                        <li class="send-message">
                            <input type="text" id="message-input" placeholder="Scrivi un messaggio" v-model="messageInputed" @keyup.enter="sendNewMessage()">
                        </li>
    
                        <li class="chat-option">
                            <a href="#" v-if="messageInputed">
                                <i class="fa-solid fa-paper-plane" @click="sendNewMessage()"></i>
                            </a>
                            <a href="#" v-else>
                                <i class="fa-solid fa-microphone"></i>
                            </a>
                        </li>
                    </menu>
                </template>
                <template v-else>
                    <div class="no-active-chat">
                        <strong>
                            Per iniziare una nuova conversazione fai <span>click</span> su un contatto!
                        </strong>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>